<html>
<head>
<meta charset='UTF-8'>
<meta name='author' content='Matthew Scroggs'>
<meta name='description' content='An encyclopedia of finite element definitions'>
<meta name='keywords' content='finite element methods,Ciarlet elements,math,maths,engineering'>
<title>DefElement{{: pagetitle}}</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 
<link rel='stylesheet' type='text/css' href='/sty.css'>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#44aaff">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#44aaff">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class='head'>
<div class='content'>
<div class='title'><a href='/'><span class='first'>Def</span><span class='second'>Element</span></a></div>
<div class='tagline'>an encyclopedia of finite element definitions</div>
</div>
</div>
<div class='body'>
<div class='content'>
