<html>
<head>
<title>defelement</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 
<link rel='stylesheet' type='text/css' href='/sty.css'>
<meta charset='UTF-8'>
<meta name='author' content='Matthew Scroggs'>
<meta name='description' content='An encyclopedia of finite element definitions'>
<meta name='keywords' content='finite element methods,Ciarlet elements,math,maths,engineering'>
</head>
<body>
<div class='head'>
<div class='content'>
<div class='title'><a href='/'><span class='first'>def</span><span class='second'>element</span></a></div>
<div class='tagline'>An encyclopedia of finite element definitions</div>
</div>
</div>
<div class='body'>
<div class='content'>
