/*****************************
colour scheme:
  orange:   #FF8800
  blue:     #44AAFF
  green:    #55FF00
  purple:   #DD2299
*****************************/

body {padding:0px;margin:0px; margin-bottom:200px}

.head {background-image:url("/mesh-blue.png")}
.footer {background-image:url("/mesh-blue.png")}
.head, .body, .footer {width:100%;}

.footer {position:fixed;bottom:0;font-size:11px;font-family:monospace;
         text-align:center}
.footer,
a, a:link, a:active, a:visited
        {color:#44AAFF}
.footer a:hover,
a:hover {color:#FF8800}

.content {max-width:820px;margin:auto;padding:10px;background-color:rgba(255,255,255,0.9)}

.title {text-align:center;font-size:35px}
.tagline {text-align:center;font-size:25px;color:#44AAFF}
.title .first {color:#FF8800}
.title .second {color:#DD2299}

.head, .footer {font-family: 'Varela Round', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Varela Round', sans-serif;font-weight:normal;color:#44AAFF}
body, p {font-family:sans}

.head a {text-decoration:none}

.egdetail {display:none}
.egdetail.current {display:block; border:2px solid black}

a.eglink {margin-right:10px;display:inline-block;padding:5px;border:2px solid #AAAAAA;color:#AAAAAA; border-bottom:none;border-radius:10px 10px 0px 0px;text-decoration:none;text-align:center}
a.eglink.current {border:2px solid black;color:black; border-bottom:none}
a.eglink.current:hover,
a.eglink.current {color:black}
a.eglink:hover {color:#FF8800}

.citations li {font-size:90%}

.dofnum {font-family: 'Varela Round', sans-serif}
.dofnum.largen {font-size:9px}

li {margin-bottom:10px}

.basisf {border-bottom:2px dashed #AAAAAA}
.basisf:last-of-type {border-bottom:none}

a.refid, a.refid:visited, a.refid:link, a.refid:active, a.refid:hover {color:black}
a.refid:target {font-weight:bold; color:#FF8800}
