/*****************************
colour scheme:
  orange:   #FF8800
  blue:     #44AAFF
  green:    #55FF00
  purple:   #DD2299
*****************************/

@media (min-width:500px){
  #sideplots {display:block}
}
@media (max-width:500px){
  #sideplots {display:none}  
}

body {padding:0px;margin:0px; margin-bottom:100px}

.head {background-image:url("/mesh-blue.png")}
.footer {background-image:url("/mesh-blue.png")}
.head, .body, .footer {width:100%;}

.footer {position:fixed;bottom:0;font-size:14px;font-family:monospace;
         text-align:center}
.footer,
a, a:link, a:active, a:visited
        {color:#44AAFF}
.footer a:hover,
a:hover {color:#FF8800}

a.nou, a.nou:link, a.nou:active, a.nou:visited, a.nou:hover {text-decoration:none}

.content {max-width:740px;margin:auto;padding:35px 10px;background-color:rgba(255,255,255,0.9)}
.footer .content {padding:10px}

.title {text-align:center;font-size:35px}
.tagline {text-align:center;font-size:25px;color:#44AAFF}
.title .first {color:#FF8800}
.title .second {color:#DD2299}

.head, .footer {font-family: 'Varela Round', sans-serif;}

h2 {margin-top:50px}
h1, h2, h3, h4, h5, h6 {font-family: 'Varela Round', sans-serif;font-weight:normal;color:#44AAFF}
body, p {font-family:sans}
p {text-align:justify}

.head a {text-decoration:none}

.egdetail {display:none}
.egdetail.current {display:block; border:2px solid black; overflow-x:scroll;padding-bottom:10px;
                   overflow-y:clip}

a.eglink {margin-right:10px;display:inline-block;padding:5px;border:2px solid #AAAAAA;color:#AAAAAA;
          border-bottom:none;border-radius:10px 10px 0px 0px;text-decoration:none;text-align:center}
a.eglink.current {border:2px solid black;color:black; border-bottom:none}
a.eglink.current:hover,
a.eglink.current {color:black}
a.eglink:hover {color:#FF8800}

.citations li {font-size:90%}

.dofnum {font-family: 'Varela Round', sans-serif}
.dofnum.largen {font-size:9px}

li {margin-bottom:10px;margin-top:10px}

.basisf {border-bottom:2px dashed #AAAAAA}
.basisf:last-of-type {border-bottom:none}

a.refid, a.refid:visited, a.refid:link, a.refid:active, a.refid:hover {color:black}
a.refid:target {font-weight:bold; color:#FF8800}

table.bordered, table.bordered tr, table.bordered td
    {border:1px solid #AAAAAA;border-collapse:collapse}
table.bordered td {padding:2px 6px;text-align:center}
table.bordered thead {font-weight:bold;font-size:80%}

table.bordered.align-left td {padding:2px 6px;text-align:left}
table.bordered.align-right td {padding:2px 6px;text-align:right}

table.element-info {width:100%}
table.element-info, table.element-info tr, table.element-info td, table.element-info tr td
    {border-collapse:collapsed}
table.element-info tr td {border-bottom:2px dashed #AAAAAA}
table.element-info tr:last-of-type td {border-bottom:none}
table.element-info td {padding:8px 0px}
table.element-info tr td:first-of-type {padding-right:10px;font-variant:all-small-caps; width:1px}

table.filters {width:100%}
table.filters, table.filters tr, table.filters td, table.filters tr td
    {border-collapse:collapsed}
table.filters tr td {border-bottom:2px dashed #AAAAAA}
table.filters tr:last-of-type td {border-bottom:none}
table.filters td {padding:8px 0px}
table.filters tr td:first-of-type {padding-right:10px;font-variant:all-small-caps}
table.filters tr td:last-of-type {font-size:80%}

a#show-flink, a#hide-flink,
a#show_pset_link, a#hide_pset_link,
a.show_eg_link, a.hide_eg_link {font-size:80%;padding-top:10px;padding-bottom:10px}

p.pcode {margin-left:50px;margin-right:50px;font-family:monospace;white-space:nowrap;}

table.families tr td {text-align:center; border-top:2px solid black; font-size:small; padding:5px}
table.families tr:first-of-type td {border-top:none; font-size:unset;}
table.families {border-collapse:collapse;}
table.families tr td:nth-of-type(2) {border-right: 2px dashed black;}

img.person {float:right;width:200px;margin-left:20px;border-radius: 50%;margin-top:30px}

ul.person-info {list-style-type:none;padding:0}
ul.person-info li {float:left; margin:0px 10px}
